button {
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  gap: 5px;
  justify-content: center;
  margin: 10px;
  width: 100px;
}
#backer:hover {
  background-color: rgba(163, 148, 148, 0.637);
  transition: 1s;
  font-size: bold;
}
#redfiel:hover {
  background-color: rgba(233, 35, 35, 0.637);
  transition: 1s;
  font-size: bold;
}

#todos:hover {
  background-color: rgba(84, 233, 35, 0.637);
  transition: 1s;
  font-size: bold;
}
